<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="game.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>tic-tac-toe</title>
</head>
<body ng-app="ticTacToe">
  <table ng-controller="GameCtrl">
    <tr ng-repeat="row in board track by $index">
      <td ng-repeat="column in row track by $index">{{column}}</td>
    </tr>
  </table>
</body>
</html>
