body {
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  margin: 50px auto;
  max-width: 300px;
}

.notification {
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
}

table {
  text-align: center;
  font-size: 50px;
  border-collapse: collapse;
}

tr {
  height: 100px;
  border-bottom: 3px solid black;
}

tr:last-child {
  border-bottom: 0px;
}

td {
  width: 100px;
  cursor: pointer;
}

td:nth-child(2) {
  border-left: 3px solid black;
  border-right: 3px solid black;
}
